In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
demo = pd.read_excel('Vendas_analise_yotube.xlsx')
demo.head()

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade,Unnamed: 9
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa,NaN
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte,NaN
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul,NaN
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha - Europa,NaN
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos - América do Norte,NaN

### Análise exploratória dos dados 1.0
    Análise dos tipos Análise das colunasdos dados.
### Análise das colunas.
        1.1 - Data da Venda
        1.2 - Produto
        1.3 - Categoria
        1.4 - PrecoUnitario
        1.5 - Custo Unitário
        1.6 - Marca
        1.7 - Qtd. Vendida
        1.8 - Nome Cliente
        1.9 - Localidade
        1.1.1 - Unnamed: 9
        
        
### Análises gráficas 2.0
        2.1 - Data da Venda
        2.2 - Produto
        2.3 - Categoria
        2.4 - PrecoUnitario
        2.5 - Custo Unitário
        2.6 - Marca
        2.7 - Qtd. Vendida
        2.8 - Nome Cliente
        2.9 - Localidade

In [3]:
demo.columns

Index(['Data da Venda', 'Produto', 'Categoria', 'PrecoUnitario',
       'Custo Unitário', 'Marca', 'Qtd. Vendida', 'Nome Cliente', 'Localidade',
       'Unnamed: 9'],
      dtype='object')

In [4]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203888 entries, 0 to 203887
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Data da Venda   203888 non-null  object
 1   Produto         203882 non-null  object
 2   Categoria       203882 non-null  object
 3   PrecoUnitario   203882 non-null  float64
 4   Custo Unitário  203882 non-null  float64
 5   Marca           203882 non-null  object
 6   Qtd. Vendida    203882 non-null  float64
 7   Nome Cliente    203882 non-null  object
 8   Localidade      203882 non-null  object
 9   Unnamed: 9      2 non-null       object
dtypes: float64(3), object(7)
memory usage: 15.6+ MB

In [5]:
demo.isnull().sum()

Data da Venda          0
Produto                6
Categoria              6
PrecoUnitario          6
Custo Unitário         6
Marca                  6
Qtd. Vendida           6
Nome Cliente           6
Localidade             6
Unnamed: 9        203886
dtype: int64

# Análise das colunas.
## 1.1.1 - Unnamed: 9
### Eliminando a coluna pois não é necessário, pois não há dados para serem analisados.

In [6]:
demo.drop('Unnamed: 9', axis=1, inplace=True)
demo.head(3)

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul

In [7]:
demo = demo.dropna()

#### 1.0 - Quantidade de valores nulos em cada coluna.

In [8]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203882 entries, 0 to 203881
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Data da Venda   203882 non-null  object
 1   Produto         203882 non-null  object
 2   Categoria       203882 non-null  object
 3   PrecoUnitario   203882 non-null  float64
 4   Custo Unitário  203882 non-null  float64
 5   Marca           203882 non-null  object
 6   Qtd. Vendida    203882 non-null  float64
 7   Nome Cliente    203882 non-null  object
 8   Localidade      203882 non-null  object
dtypes: float64(3), object(6)
memory usage: 15.6+ MB

In [9]:
demo.isnull().sum()

Data da Venda     0
Produto           0
Categoria         0
PrecoUnitario     0
Custo Unitário    0
Marca             0
Qtd. Vendida      0
Nome Cliente      0
Localidade        0
dtype: int64

In [10]:
demo['Categoria'].unique()

array(['Sistema de Som', 'Ventiladores', 'Acessórios para Câmeras',
       'Games', 'Jogos de Tabuleiro', 'Headphone Bluetooth', 'Monitores',
       'Car Video', 'Acessórios para Computador', 'Caneta Gravadora',
       'Cafeteira', 'VCD & DVD', 'Movie DVD', 'Acessórios para Celular',
       'MP4&MP3', 'Laptops', 'Impressoras, Scanners & Fax',
       'Water Heaters', 'Telefones p/ Casa e Escritório',
       'Ar Condicionado'], dtype=object)

In [11]:
avaliar1 = demo.groupby(['Categoria','Produto']).sum()
avaliar1

                                                                  PrecoUnitario  \
Categoria                  Produto
Acessórios para Celular    Azultooth Active Headphones L15 Preto       11959.08
Acessórios para Computador Laptop Keyboard X105 Branco                  2539.90
                           Laptop Keyboard X105 Marrom                  6234.30
                           Laptop Keyboard X105 Prata                   3925.30
                           Laptop Keyboard X105 Preto                   2770.80
...                                                                         ...
Water Heaters              Water Heater 1.5GPM E0800 Vermelho          19312.50
                           Water Heater 2.6GPM E0900 Azul              37084.00
                           Water Heater 2.6GPM E0900 Verde             35052.00
                           Water Heater 4.0GPM M1250 Vermelho          57743.00
                           Water Heater 7.2GPM X1800 Branco           162250.00

                                                                  Custo Unitário  \
Categoria                  Produto
Acessórios para Celular    Azultooth Active Headphones L15 Preto         3962.44
Acessórios para Computador Laptop Keyboard X105 Branco                    841.50
                           Laptop Keyboard X105 Marrom                   2065.50
                           Laptop Keyboard X105 Prata                    1300.50
                           Laptop Keyboard X105 Preto                     918.00
...                                                                          ...
Water Heaters              Water Heater 1.5GPM E0800 Vermelho            9846.00
                           Water Heater 2.6GPM E0900 Azul               18906.27
                           Water Heater 2.6GPM E0900 Verde              17870.31
                           Water Heater 4.0GPM M1250 Vermelho           26553.75
                           Water Heater 7.2GPM X1800 Branco             53757.00

                                                                  Qtd. Vendida
Categoria                  Produto
Acessórios para Celular    Azultooth Active Headphones L15 Preto         157.0
Acessórios para Computador Laptop Keyboard X105 Branco                    25.0
                           Laptop Keyboard X105 Marrom                    57.0
                           Laptop Keyboard X105 Prata                     30.0
                           Laptop Keyboard X105 Preto                     29.0
...                                                                        ...
Water Heaters              Water Heater 1.5GPM E0800 Vermelho            153.0
                           Water Heater 2.6GPM E0900 Azul                135.0
                           Water Heater 2.6GPM E0900 Verde               129.0
                           Water Heater 4.0GPM M1250 Vermelho            149.0
                           Water Heater 7.2GPM X1800 Branco              208.0

[447 rows x 3 columns]

In [12]:
avaliar2 = demo.groupby('Categoria').sum()
avaliar2

                                PrecoUnitario  Custo Unitário  Qtd. Vendida
Categoria
Acessórios para Celular          1.195908e+04         3962.44         157.0
Acessórios para Computador       1.970120e+04         6527.25         364.0
Acessórios para Câmeras          5.532685e+06      1851338.64       27386.0
Ar Condicionado                  4.388331e+04        14539.68         158.0
Cafeteira                        3.867180e+05       140084.75         778.0
Caneta Gravadora                 8.433613e+05       383960.22        8865.0
Car Video                        1.270690e+05        42340.88         283.0
Games                            2.599471e+06      1190287.08       92601.0
Headphone Bluetooth              6.578594e+05       261659.19       10017.0
Impressoras, Scanners & Fax      3.063780e+05       101852.64        2322.0
Jogos de Tabuleiro               5.704648e+05       247120.06      131520.0
Laptops                          9.648579e+05       474357.60        4629.0
MP4&MP3                          2.046019e+05        85454.20        2906.0
Monitores                        5.250612e+06      1940996.37       23535.0
Movie DVD                        7.942562e+04        35371.97        2277.0
Sistema de Som                   1.129988e+07      5105293.33       46534.0
Telefones p/ Casa e Escritório   5.115810e+03         1694.56         232.0
VCD & DVD                        2.844942e+06      1306352.87       45310.0
Ventiladores                     4.174184e+05       172580.46        3660.0
Water Heaters                    4.149565e+05       179707.89        1555.0

In [13]:
avaliar2.index

Index(['Acessórios para Celular', 'Acessórios para Computador',
       'Acessórios para Câmeras', 'Ar Condicionado', 'Cafeteira',
       'Caneta Gravadora', 'Car Video', 'Games', 'Headphone Bluetooth',
       'Impressoras, Scanners & Fax', 'Jogos de Tabuleiro', 'Laptops',
       'MP4&MP3', 'Monitores', 'Movie DVD', 'Sistema de Som',
       'Telefones p/ Casa e Escritório', 'VCD & DVD', 'Ventiladores',
       'Water Heaters'],
      dtype='object', name='Categoria')

### Faremos uma lista do tipo de categoria que tem no nosso arquivo.

In [14]:
lista_categoria = []

for x in avaliar2.index:
    lista_categoria.append(x)

lista_categoria

['Acessórios para Celular',
 'Acessórios para Computador',
 'Acessórios para Câmeras',
 'Ar Condicionado',
 'Cafeteira',
 'Caneta Gravadora',
 'Car Video',
 'Games',
 'Headphone Bluetooth',
 'Impressoras, Scanners & Fax',
 'Jogos de Tabuleiro',
 'Laptops',
 'MP4&MP3',
 'Monitores',
 'Movie DVD',
 'Sistema de Som',
 'Telefones p/ Casa e Escritório',
 'VCD & DVD',
 'Ventiladores',
 'Water Heaters']

In [15]:
demo['Marca'].unique()

array(['Litware ', 'Litware', 'Contoso', 'Hashtag Toys',
       'Southridge Video', 'Northwind Traders', 'Proseware',
       'Wide World Importers', 'Contoso '], dtype=object)

In [16]:
lista_Marca = []

for x in demo['Marca'].unique():
    lista_Marca.append(x)

lista_Marca

['Litware ',
 'Litware',
 'Contoso',
 'Hashtag Toys',
 'Southridge Video',
 'Northwind Traders',
 'Proseware',
 'Wide World Importers',
 'Contoso ']

In [17]:
for d,i in enumerate(lista_Marca):
    print(d, i)

0 Litware
1 Litware
2 Contoso
3 Hashtag Toys
4 Southridge Video
5 Northwind Traders
6 Proseware
7 Wide World Importers
8 Contoso

In [29]:
lista_marca = []

for x in lista_Marca:
    if x == 'Litware ' or x == 'Contoso ':
        continue
    else:
        lista_marca.append(x)
        
lista_marca

['Litware',
 'Contoso',
 'Hashtag Toys',
 'Southridge Video',
 'Northwind Traders',
 'Proseware',
 'Wide World Importers']

In [37]:
avaliar3 = demo.groupby('Nome Cliente').sum()
avaliar3

                    PrecoUnitario  Custo Unitário  Qtd. Vendida
Nome Cliente
Adams, Aaron             1207.120          478.62          16.0
Adams, Adam              3198.660         1394.47          21.0
Adams, Alex              1146.110          467.01          13.0
Adams, Alexandra           79.800           36.70           1.0
Adams, Allison           3829.880         1341.03          35.0
...                           ...             ...           ...
Zimmerman, Jack          2881.130         1341.34          21.0
Zimmerman, Jenny         2212.250          752.52          31.0
Zimmerman, Krystal       1707.260          725.04          24.0
Zimmerman, Tiffany       1237.648          630.97          38.0
Zukowski, Jake           1165.430          483.44          14.0

[18334 rows x 3 columns]

In [38]:
demo['Nome Cliente'].unique()

array(['Pinheiro, Vicente', 'Lopez, Marlon', 'Gonzalez, Martin', ...,
       'Taylor, Taylor', 'Chander, Karl', 'Diaz, Elizabeth'], dtype=object)

In [52]:
a = demo[demo['Nome Cliente'] == 'Zimmerman, Tiffany']['PrecoUnitario'].sum()
a

1237.648

---------------------------------

In [28]:
demo.head()

,Data da Venda,Produto,Categoria,PrecoUnitario,Custo Unitário,Marca,Qtd. Vendida,Nome Cliente,Localidade
0,2017-06-01 00:00:00,Sistema de Som 7.1 Channel X711 Prata,Sistema de Som,1109.00,367.43,Litware,1.0,"Pinheiro, Vicente",França - Europa
1,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Lopez, Marlon",Estados Unidos - América do Norte
2,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Gonzalez, Martin",Chile - América do Sul
3,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,1.0,"Ruiz, Victor",Alemanha - Europa
4,2017-06-01 00:00:00,180 CFM Ventilador de Coluna X450 Preto,Ventiladores,215.62,71.44,Litware,5.0,"Nelson, Alex",Estados Unidos - América do Norte

### Tratando a coluna Localidade.
# 1.9 - Localidade