In [3]:
import pandas as pd
import numpy as np

In [4]:
df_1 = pd.read_excel('rayssa_pratica_com_python.xlsx')
df_1.head()

,Matrícula,Nome,Concessão,Vigência,NP,Valor da Parcela,Resíduo,Valor Total
0,863328,ADAILTON DE OLIVEIRA FONSECA,2021-11-01,2021-11-01,10,210.90,0,2109.0
1,455490,ADALBERTO DA SILVA LIMA,2021-11-01,2021-11-01,5,152.50,0,762.5
2,455490,ADALBERTO DA SILVA LIMA,2021-07-01,2021-07-01,3,152.50,0,457.5
3,28931,ADALBERTO JUNIOR NUNES MACHADO,2021-12-01,2021-12-01,4,177.25,0,709.0
4,454019,ADEILSON DA SILVA INACIO,2021-12-01,2021-12-01,10,122.90,0,1229.0

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Matrícula         731 non-null    int64
 1   Nome              731 non-null    object
 2   Concessão         731 non-null    datetime64[ns]
 3   Vigência          731 non-null    datetime64[ns]
 4   NP                731 non-null    int64
 5   Valor da Parcela  731 non-null    float64
 6   Resíduo           731 non-null    int64
 7   Valor Total       731 non-null    float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(1)
memory usage: 45.8+ KB

In [9]:
df_1.drop('Vigência', axis=1,inplace=True)
df_1.head()

,Matrícula,Nome,Concessão,NP,Valor da Parcela,Resíduo,Valor Total
0,863328,ADAILTON DE OLIVEIRA FONSECA,2021-11-01,10,210.90,0,2109.0
1,455490,ADALBERTO DA SILVA LIMA,2021-11-01,5,152.50,0,762.5
2,455490,ADALBERTO DA SILVA LIMA,2021-07-01,3,152.50,0,457.5
3,28931,ADALBERTO JUNIOR NUNES MACHADO,2021-12-01,4,177.25,0,709.0
4,454019,ADEILSON DA SILVA INACIO,2021-12-01,10,122.90,0,1229.0

In [10]:
df_1.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'