# Séries com Python no JupterLab.
    - Usando a biblioteca pandas.

In [7]:
import pandas as pd

ls_nomes = ['Jefferson', 'Jonas coelho', 'Pedro Bruno']


tb_nomes = pd.Series(data=ls_nomes)
tb_nomes

0       Jefferson
1    Jonas coelho
2     Pedro Bruno
dtype: object

### fazendo um index para aplicar na serie

In [19]:
#INDEX = [x for x in range(len(ls_nomes))]
INDEX = [i for i in range(100, 301, 100)]
INDEX

[100, 200, 300]

In [20]:
tb_nomes = pd.Series(data=ls_nomes, index=INDEX)
tb_nomes

100       Jefferson
200    Jonas coelho
300     Pedro Bruno
dtype: object

### Colocando um novo índice.
    - Como podemos ver no bloco acima, atribuímos um novo formato de índece para a série.

In [30]:
novo_INDEX = [ y for y in range(10000, 30001, 10000)]
n_tb_nomes = pd.Series(ls_nomes, novo_INDEX)
n_tb_nomes

10000       Jefferson
20000    Jonas coelho
30000     Pedro Bruno
dtype: object

## Outra maneira.
    Seria interessante colocar como série uma dict(Dicionário).

In [33]:
serie_faculdade = {'UFC':'Jonas Coelho', 'IFCE':'Jefferson', 'FARIAS BRITO':'Allan'}

serie = pd.Series(serie_faculdade)
serie.sort_index() # Aqui esta função serve apenas para organizar.

FARIAS BRITO           Allan
IFCE               Jefferson
UFC             Jonas Coelho
dtype: object

# Sobre os dicionários.
    Percebemos que a keys(chaves) e Values(valores), já passam como se fosse index e valores

In [44]:
ser1 = pd.Series(data=[10,20,30,40], index=['fortaleza','ceará','são paulo', 'palmeiras'])
ser2 = pd.Series(data=[105,205,305,405], index=['fortaleza','ceará','Flamengo', 'palmeiras'])

pd.Series(ser1)

fortaleza    10
ceará        20
são paulo    30
palmeiras    40
dtype: int64

In [45]:
pd.Series(ser2)

fortaleza    105
ceará        205
Flamengo     305
palmeiras    405
dtype: int64

In [47]:
ser1 + ser2

Flamengo       NaN
ceará        225.0
fortaleza    115.0
palmeiras    445.0
são paulo      NaN
dtype: float64

# Valores enncontrados com a soma.

In [49]:
ser1 * ser2

Flamengo         NaN
ceará         4100.0
fortaleza     1050.0
palmeiras    16200.0
são paulo        NaN
dtype: float64

In [50]:
ser1 / ser2

Flamengo          NaN
ceará        0.097561
fortaleza    0.095238
palmeiras    0.098765
são paulo         NaN
dtype: float64