### Data Frames 
    Vamos ultilizar duas bibliotecas principais.
        Pandas
        Numpy

In [6]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index=['A', 'B', 'C', 'D','E'], columns='X Y W Z'.split())

# Obs:
    Um detalhe importate é perceber que com o método randn de abiblioteca numpy dará valores aleatórios

In [7]:
df

          X         Y         W         Z
A  0.167937 -1.196009  1.734942  0.280590
B -0.905833  0.911117  0.080163 -0.132000
C  1.187853  1.465838  0.346322  0.521871
D -1.349993  0.663103  0.827948  0.055366
E -0.355199  0.742799  0.341585  0.633042

In [8]:
type(df)

pandas.core.frame.DataFrame

### Criando uma nova coluna.

In [9]:
df['J'] = df['W'] + df['Y'] + df['W'] + df['Z']
df

          X         Y         W         Z         J
A  0.167937 -1.196009  1.734942  0.280590  2.554465
B -0.905833  0.911117  0.080163 -0.132000  0.939443
C  1.187853  1.465838  0.346322  0.521871  2.680352
D -1.349993  0.663103  0.827948  0.055366  2.374364
E -0.355199  0.742799  0.341585  0.633042  2.059011

### Apagando a coluna.

In [10]:
df = df.drop('W', axis=1)
df

          X         Y         Z         J
A  0.167937 -1.196009  0.280590  2.554465
B -0.905833  0.911117 -0.132000  0.939443
C  1.187853  1.465838  0.521871  2.680352
D -1.349993  0.663103  0.055366  2.374364
E -0.355199  0.742799  0.633042  2.059011

In [11]:
df

          X         Y         Z         J
A  0.167937 -1.196009  0.280590  2.554465
B -0.905833  0.911117 -0.132000  0.939443
C  1.187853  1.465838  0.521871  2.680352
D -1.349993  0.663103  0.055366  2.374364
E -0.355199  0.742799  0.633042  2.059011

In [12]:
from random import randint as rd
nomes = ['Jefferson', 'Robert', 'Pedro Bruno']
notas = 'notas '*3


x = notas.split()


tb = pd.DataFrame(index=x, columns=nomes)
tb

      Jefferson Robert Pedro Bruno
notas       NaN    NaN         NaN
notas       NaN    NaN         NaN
notas       NaN    NaN         NaN

In [14]:
tb['Jefferson']

notas    NaN
notas    NaN
notas    NaN
Name: Jefferson, dtype: object