## Criando uma tabela para trabalhar com os índices

In [2]:
from random import randint as rd
from numpy.random import randn
import pandas as pd

tabela = pd.DataFrame(randn(3,2), index='jefferson e Rayssa'.split(), columns=['c','d'])
tabela

                  c         d
jefferson  1.072546 -0.290672
e          0.429802 -0.448339
Rayssa     1.226290  1.078473

### Usando tabela.index para crinar índeces na tabela

In [4]:
tabela

                  c         d
jefferson  1.072546 -0.290672
e          0.429802 -0.448339
Rayssa     1.226290  1.078473

In [7]:
tabela.index

Index(['jefferson', 'e', 'Rayssa'], dtype='object')

In [8]:
tabela.columns

Index(['c', 'd'], dtype='object')

In [9]:
tabela.reset_index()

       index         c         d
0  jefferson  1.072546 -0.290672
1          e  0.429802 -0.448339
2     Rayssa  1.226290  1.078473