# Join.
    Serve para juntar elementos.

In [30]:
import pandas as pd

In [31]:
df_1 = pd.DataFrame(
    {
        'A': ['A0','A1','A2'],
        'B': ['B0','B1','B2']
    }, index= [1,2,3]
)

In [32]:
df_2 = pd.DataFrame(
    {
        'C': ['B0','B1','B2'],
        'D': ['C0','C1','C2']
    }, index= [1,2,3]
)

In [23]:
df_3 = pd.DataFrame(
    {
        'C': ['B0','B1','B2'],
        'D': ['C0','C1','C2']
    }, index= [1,2,3]
)

In [37]:
df_1.join(df_2)

    A   B   C   D
1  A0  B0  B0  C0
2  A1  B1  B1  C1
3  A2  B2  B2  C2