# Merge.
    Este tipo de função serve para juntar elementos, vamos definir assim por enquanto.

In [13]:
import pandas as pd

In [14]:
esquerda = pd.DataFrame(
    {
        'Clubes': ['placar 1','placar 2','placar 3','placar 4'],
        'Flamengo': ['B0','B1','B2','B3'],
        'Vasco': ['C0','C1','C2','C3'],
        'Fortaleza': ['D0','D1','D2','D3']
    }
)

In [15]:
direita = pd.DataFrame(
    {
        'Clubes': ['placar 1','placar 2','placar 3','placar 4'],
        'Cruzeiro': ['B0','B1','B2','B3'],
        'Botafogo': ['C0','C1','C2','C3'],
        'Ceará': ['D0','D1','D2','D3']
    }
)

In [22]:
df = pd.merge(esquerda, direita)
df.reset_index()
df.set_index('Clubes', inplace=True)
df

         Flamengo Vasco Fortaleza Cruzeiro Botafogo Ceará
Clubes
placar 1       B0    C0        D0       B0       C0    D0
placar 2       B1    C1        D1       B1       C1    D1
placar 3       B2    C2        D2       B2       C2    D2
placar 4       B3    C3        D3       B3       C3    D3

In [23]:
df_1 = pd.merge(esquerda, direita, on='Clubes')
df_1

     Clubes Flamengo Vasco Fortaleza Cruzeiro Botafogo Ceará
0  placar 1       B0    C0        D0       B0       C0    D0
1  placar 2       B1    C1        D1       B1       C1    D1
2  placar 3       B2    C2        D2       B2       C2    D2
3  placar 4       B3    C3        D3       B3       C3    D3