## Projeto 2 analisando dados com o Pandas, Obesidade.

In [40]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('C:/Users/55859/Desktop/Estudos/Data Science/02 Análise pandas Obesidade/obesity_cleaned.csv', index_col=0)
df

           Country  Year       Obesity (%)         Sex
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1      Afghanistan  1975     0.2 [0.0-0.6]        Male
2      Afghanistan  1975     0.8 [0.2-2.0]      Female
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4      Afghanistan  1976     0.2 [0.0-0.7]        Male
...            ...   ...               ...         ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 4 columns]

### 1 - Observando os tipos de dados.
    - Função sahpe
    - Função info()

In [42]:
df.shape

(24570, 4)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 959.8+ KB

In [44]:
df['Country'].value_counts()

Afghanistan    126
Saint Lucia    126
Niger          126
Nigeria        126
Niue           126
              ...
Ghana          126
Greece         126
Grenada        126
Guatemala      126
Zimbabwe       126
Name: Country, Length: 195, dtype: int64

- Observe:
    ###### Na coluna [Obesity (%)], temos dados 'No' e 'data' é somo se fosse dados nulos. precisamos reparar isso na hora da conversão para float.

In [47]:
df['Obesity (%)'].value_counts()

No data            504
0.4 [0.1-1.0]       55
0.6 [0.2-1.3]       47
0.3 [0.1-0.7]       46
0.3 [0.1-0.8]       46
                  ...
9.5 [6.7-13.1]       1
4.4 [2.2-7.6]        1
14.1 [9.1-20.3]      1
9.8 [6.9-13.4]       1
4.7 [2.5-8.0]        1
Name: Obesity (%), Length: 16375, dtype: int64

In [48]:
df['Sex'].value_counts()

Both sexes    8190
Male          8190
Female        8190
Name: Sex, dtype: int64

- 1.0
### Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [49]:
df['Obesity (%)']

0           0.5 [0.2-1.1]
1           0.2 [0.0-0.6]
2           0.8 [0.2-2.0]
3           0.5 [0.2-1.1]
4           0.2 [0.0-0.7]
               ...
24565       4.5 [2.4-7.6]
24566    24.8 [18.9-31.3]
24567    15.5 [12.0-19.2]
24568       4.7 [2.5-8.0]
24569    25.3 [19.1-32.0]
Name: Obesity (%), Length: 24570, dtype: object

- 1.1 
## Se observarmos bem, os dados estão bagunçados.
    - Com isso devemos limpar e tratar esse primeiro dado.
    - a coluna (df['Obesity (%)']) está como object. ou seja, como string, de alguma forma, precisamos transforma-lá em vallor numerico, seja int ou float.
        - Vamos criar uma nova coluna e tentar repassar os dados como uma lista de string para ela.

In [50]:
df['Obesidade'] = df['Obesity (%)'].apply(lambda x : x.split(" ")[0])
df.head()

       Country  Year    Obesity (%)         Sex Obesidade
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes       0.5
1  Afghanistan  1975  0.2 [0.0-0.6]        Male       0.2
2  Afghanistan  1975  0.8 [0.2-2.0]      Female       0.8
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes       0.5
4  Afghanistan  1976  0.2 [0.0-0.7]        Male       0.2

- 1.2
#### Aqui na célula de cima, foi criada uma coluna nova, com uma função que pega somente o primeiro índece da função split().
    - Agora veremos como ficou dado e qual o tipo de dado desta respectiva coluna.

In [20]:
df['Obesidade']

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesidade, Length: 24570, dtype: object

In [51]:
df['Obesidade'].value_counts()

No      504
0.4     222
0.6     218
0.5     217
0.7     210
       ...
60.1      1
56.3      1
59.8      1
55.5      1
46.5      1
Name: Obesidade, Length: 602, dtype: int64

In [52]:
df[df['Obesidade'] == 'No'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 14112 to 20915
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      504 non-null    object
 1   Year         504 non-null    int64
 2   Obesity (%)  504 non-null    object
 3   Sex          504 non-null    object
 4   Obesidade    504 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.6+ KB

In [53]:
type(df['Obesidade'].iloc[0])

str

0.5

- 1.3
#### Convertendo os dados da coluna [Obesidade].

In [56]:
df.loc[df['Obesidade'] == "No", 'Obesidade'] = np.nan

In [57]:
df['Obesidade'] = df['Obesidade'].dropna()

In [59]:
df['Obesidade'] = df['Obesidade'].apply(lambda x: float(x))

In [68]:
type(df['Obesidade'].iloc[0])

numpy.float64

- 1.3.1
    ##### Aproveitar que já convertemos os valores percentuais de obesidade de String para Float, agora vamos converter a coluna [Year] em int.

In [70]:
df['Year'] = df['Year'].apply(lambda year : int(year))
df['Year'].info()

<class 'pandas.core.series.Series'>
Int64Index: 24570 entries, 0 to 24569
Series name: Year
Non-Null Count  Dtype
--------------  -----
24570 non-null  int64
dtypes: int64(1)
memory usage: 899.9 KB

In [72]:
df

           Country  Year       Obesity (%)         Sex  Obesidade
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes        0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male        0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female        0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes        0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male        0.2
...            ...   ...               ...         ...        ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male        4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female       24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes       15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male        4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female       25.3

[24570 rows x 5 columns]

- Missão concluida.
    ### Com isso já conseguimos converter e ajustar todas as colunas.
        - trabalhar agora para extrair a informaçôes dos dados.

In [92]:
df[(df['Year'] == 2015) & (df['Obesidade']) & (df['Country'] == 'Brazil')].max()

Country                  Brazil
Year                       2015
Obesity (%)    24.9 [20.3-29.8]
Sex                        Male
Obesidade                  24.9
dtype: object

In [95]:
df[(df['Year'] == 2015) & (df['Obesidade']) & (df['Country'] == 'Brazil')].min()

Country                  Brazil
Year                       2015
Obesity (%)    18.0 [13.9-22.6]
Sex                  Both sexes
Obesidade                  18.0
dtype: object

In [105]:
df[(df['Year'] == 2015) & (df['Country'] == 'Brazil')].groupby('Obesidade').max()

          Country  Year       Obesity (%)         Sex
Obesidade
18.0       Brazil  2015  18.0 [13.9-22.6]        Male
21.6       Brazil  2015  21.6 [18.4-25.0]  Both sexes
24.9       Brazil  2015  24.9 [20.3-29.8]      Female