## Projeto 2 analisando dados com o Pandas, Obesidade.

In [7]:
import pandas as pd

In [27]:
df = pd.read_csv('C:/Users/55859/Desktop/Estudos/Data Science/02 Análise pandas Obesidade/obesity_cleaned.csv', index_col=0)
df.head(3)

       Country  Year    Obesity (%)         Sex
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2  Afghanistan  1975  0.8 [0.2-2.0]      Female

### 1 - Observando os tipos de dados.
    - Função sahpe
    - Função info()

In [30]:
df.shape

(24570, 4)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 959.8+ KB

- 1.0
### Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [38]:
df['Obesity (%)']

0           0.5 [0.2-1.1]
1           0.2 [0.0-0.6]
2           0.8 [0.2-2.0]
3           0.5 [0.2-1.1]
4           0.2 [0.0-0.7]
               ...
24565       4.5 [2.4-7.6]
24566    24.8 [18.9-31.3]
24567    15.5 [12.0-19.2]
24568       4.7 [2.5-8.0]
24569    25.3 [19.1-32.0]
Name: Obesity (%), Length: 24570, dtype: object

- 1.1 
## Se observarmos bem, os dados estão bagunçados.
    - Com isso devemos limpar e tratar esse primeiro dado.
    - a coluna (df['Obesity (%)']) está como object. ou seja, como string, de alguma forma, precisamos transforma-lá em vallor numerico, seja int ou float.
        - Vamos criar uma nova coluna e tentar repassar os dados como uma lista de string para ela.

In [52]:
df['Obesidade'] = df['Obesity (%)'].apply(lambda x: x.split(" ")[0])
df.head()

       Country  Year    Obesity (%)         Sex Obesidade
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes       0.5
1  Afghanistan  1975  0.2 [0.0-0.6]        Male       0.2
2  Afghanistan  1975  0.8 [0.2-2.0]      Female       0.8
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes       0.5
4  Afghanistan  1976  0.2 [0.0-0.7]        Male       0.2

- 1.2
#### Aqui na célula de cima foi criada uma coluna nova, com uma função que pega somente o primeiro índece da função split().
    - Agora veremos como ficou dado e qual o tipo de dado desta respectiva coluna.

In [56]:
df['Obesidade']

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesidade, Length: 24570, dtype: object

In [73]:
type(df['Obesidade'].iloc[0])

str

In [76]:
float(df['Obesidade'].iloc[0])

0.5